.spreadsheet-container {
    overflow: auto;
    max-width: 100%;
    max-height: 500px;
  }
  
  .spreadsheet {
    border-collapse: collapse;
    width: max-content;
  }
  
  .spreadsheet th, .spreadsheet td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
  }
  
  .spreadsheet input {
    width: 80px;
    text-align: center;
    border: none;
    outline: none;
  }
  
  .selected {
    background-color: #ccffcf;
  }
  
/* Highlighting dragged cells */
.highlighted {
    background-color: #a7e9b9 !important;
}

  